body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
}

.headerMenuLink {
    color:gray;
    text-decoration: none;
}

.headerMenuLink:hover{
    color: darkgray;
    text-decoration: none;
}

.navbar {
    background-color: #222222;
    color: #868686;
}

.navbar-light .navbar-nav .nav-link {
    background-color: #222222;
    color: #868686;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand  >img {
    padding: 5px;
    height: 100%;
}   

